.Navlink{
    color:rgb(89, 89, 89);
    text-decoration: none;
}
.Navlink:hover{
    color:rgb(4, 145, 227);
}
.navbar{
    position: fixed;
    width: 100%;
    top:0;
    background-color: white;
}